<mat-card class="max-w-3xl mx-auto mt-16 p-8 rounded-lg border bg-white border-gray-400 shadow-md">
    <div class="flex justify-end gap-4">
        <button routerLink="/shop">
            <mat-icon matBadgeSize="large" class="mt-2">close</mat-icon>
        </button>
    </div>
    <div class="text-center">
        <h1 class="text-3xl font-semibold">Nieuw product</h1>
    </div>
    <mat-divider class="w-3/4 mx-auto my-6"></mat-divider>
    <div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <app-text-input label="Naam" formControlName="naam" class="w-full"/>
                    <app-text-input label="Prijs" formControlName="prijs" class="w-full"/>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <app-text-input label="Merk" formControlName="merk" class="w-full"/>
                    <app-text-input label="Type" formControlName="type" class="w-full"/>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
                    <label>Foto</label>
                    <input type="file" (change)="onSelectedFileChange($event)">
                    <app-text-input label="Aantal voorraad" formControlName="hoeveelheidInVoorraad" />
            </div>
            <div class="mt-4">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Beschrijving</mat-label>
                    <textarea formControlName="beschrijving" class="w-full" matInput></textarea>
                </mat-form-field>
            </div>
            
            <div class="flex justify-center mt-6">
                <button [disabled]="productForm.invalid" mat-flat-button type="submit" class="px-6 py-2">Aanmaken</button>
            </div>    
        </form>
    </div>
</mat-card>
