<div class="p-10">
    <h1 class="text-3xl text-center pt-6 mb-3">U heeft volgend product aangemaakt.</h1>
    <mat-divider class="my-6"></mat-divider>
    <div>
            <div class="flex p-4">
                <div class="w-1/2 mx-4">
                    <p class="font-semibold">Naam:</p>
                    <p>{{product.naam}}</p>
                </div>
                <div class="w-1/2 mx-4">
                    <p class="font-semibold">Prijs:</p>
                    <p>{{product.prijs}}</p>
                </div>
            </div>
            <div class="flex p-4">
                <div class="w-1/2 mx-4">
                    <p class="font-semibold">Merk</p>
                    <p>{{product.merk}}</p>
                </div>
                <div class="w-1/2 mx-4">
                    <p class="font-semibold">Type</p>
                    <p>{{product.type}}</p>
                </div>
            </div>
            <div class="flex p-4">
                <div class="w-1/2 mx-4">
                    <p class="font-semibold">Foto:</p>
                    <p>{{product.fotoURL}}</p>
                </div>
                <div class="w-1/2 mx-4">
                    <p class="font-semibold">Hoeveelheid in voorraad:</p>
                    <p>{{product.hoeveelheidInVoorraad}}</p>
                </div>
            </div>
            <div class="flex p-4">
                <div class="mx-4">
                    <p class="font-semibold">Beschrijving:</p>
                    <p>{{product.beschrijving}}</p>
                </div>
            </div>
            
            <div class="flex mx-auto pt-3">
                <button  mat-flat-button class="mx-auto py-4" (click)="closeDialog()">Sluiten</button>
            </div>    
    </div>
</div>
