<div class="p-4 sm:p-6">
    <h3 class="text-2xl sm:text-3xl text-center pt-4 mb-3">Filters</h3>
    <mat-divider></mat-divider>
    <div class="flex flex-col md:flex-row gap-4 p-4">
        <div class="w-full md:w-1/2">
            <h4 class="font-semibold text-lg md:text-xl text-primary mb-2">Merken</h4>
            <mat-selection-list [(ngModel)]="selectedMerken" [multiple]="true">
                @for (merk of shopService.merken; track $index) {
                    <mat-list-option [value]="merk">{{merk}}</mat-list-option>
                }
            </mat-selection-list>
        </div>

        <div class="w-full md:w-1/2">
            <h4 class="font-semibold text-lg md:text-xl text-primary mb-2">Types</h4>
            <mat-selection-list [(ngModel)]="selectedTypes" [multiple]="true">
                @for (type of shopService.types; track $index) {
                    <mat-list-option [value]="type">{{type}}</mat-list-option>
                }
            </mat-selection-list>
        </div>
    </div>
    <div class="flex flex-col sm:flex-row justify-between gap-2 p-4">
        <button mat-flat-button (click)="removeFilters()">Filters verwijderen</button>
        <button mat-flat-button (click)="applyFilters()">Filters toepassen</button>     
    </div>
</div>
