<div class="min-h-screen">
    <mat-tab-group class="bg-white">
        <mat-tab label="Orders">
            <div class="flex justify-between items-center mt-2 max-w-screen-2xl mx-auto">
                <h2 class="text-2xl font-semibold">Bestellingen</h2>
                <mat-form-field appearance="outline" class="mt-2">
                    <mat-label>Filter op status</mat-label>
                    <mat-select (selectionChange)="onOrderFilterSelect($event)">
                        @for (status of statusOptions; track $index) {
                            <mat-option [value]="status">{{status}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="p-4">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="dataSourceOrders">
                  
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> Nummer </th>
                        <td mat-cell *matCellDef="let order"> {{order.id}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="koperEmail">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let order"> {{order.koperEmail}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="bestellingsDatum">
                        <th mat-header-cell *matHeaderCellDef> Datum </th>
                        <td mat-cell *matCellDef="let order"> {{order.bestellingsDatum | date: 'short'}} </td>
                      </ng-container>

                      <ng-container matColumnDef="totaal">
                        <th mat-header-cell *matHeaderCellDef> Totaal bedrag </th>
                        <td mat-cell *matCellDef="let order"> {{order.totaal | currency}} </td>
                      </ng-container>
                  
                      <ng-container matColumnDef="bestellingsStatus">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let order"> {{order.bestellingsStatus}} </td>
                      </ng-container>

                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef> Actie </th>
                        <td mat-cell *matCellDef="let order">
                            <div class="flex gap-2">
                                <button matTooltip="View" [disabled]="order.bestellingsStatus === 'Refunded'" mat-icon-button routerLink="/orders/{{order.id}}">
                                    <mat-icon color="accent">visibility</mat-icon>
                                </button>
                                <button matTooltip="Refund" mat-icon-button (click)="openDeleteOrderDialog(order.id)">
                                    <mat-icon color="warn">undo</mat-icon>
                                </button>
                            </div>
                        </td>
                      </ng-container>
                      
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                    [length]="totalOrders"
                                    [pageSize]="orderParams.pageSize"
                                    (page)="onPageChange($event, 'Orders')"
                                   showFirstLastButtons>
                    </mat-paginator>
                  </div>
                  
            </div>
        </mat-tab>
        <mat-tab label="Producten">
          <div class="flex justify-between items-center mt-2 max-w-screen-2xl mx-auto">
            <h2 class="text-2xl font-semibold">Producten</h2>
              <button class="match-input-height" mat-stroked-button (click)="openFiltersDialog()">
                <mat-icon>filter_list</mat-icon>
                Filters
            </button>
        </div>
        <div class="p-4">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceProducten">
              
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Nummer </th>
                    <td mat-cell *matCellDef="let product"> {{product.id}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="koperEmail">
                    <th mat-header-cell *matHeaderCellDef> Naam </th>
                    <td mat-cell *matCellDef="let product"> {{product.naam}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="bestellingsDatum">
                    <th mat-header-cell *matHeaderCellDef> Merk </th>
                    <td mat-cell *matCellDef="let product"> {{product.merk}} </td>
                  </ng-container>

                  <ng-container matColumnDef="totaal">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let product"> {{product.type}} </td>
                  </ng-container>
              
                  <ng-container matColumnDef="bestellingsStatus">
                    <th mat-header-cell *matHeaderCellDef> Prijs </th>
                    <td mat-cell *matCellDef="let product"> {{product.prijs | currency}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actie </th>
                    <td mat-cell *matCellDef="let product">
                        <div class="flex gap-2">
                            <button matTooltip="Update" mat-icon-button>
                                <mat-icon color="accent">edit</mat-icon>
                            </button>
                            <button matTooltip="Delete" mat-icon-button (click)="openDeleteProductDialog(product.id)">
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                        </div>
                    </td>
                  </ng-container>
                  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                [length]="totalProducts"
                                [pageSize]="shopParams.pageSize"
                                (page)="onPageChange($event, 'Producten')"
                               showFirstLastButtons>
                </mat-paginator>
              </div>      
        </div>
        <div class="p-4">
          <button mat-stroked-button routerLink="/products/create-product">Nieuw product aanmaken</button>
        </div>
        </mat-tab>
        <mat-tab label="Gebruikers">
            Customer service placeholder
        </mat-tab>
    </mat-tab-group>
</div>
